<div>
  <% @students.each do |student| %>
    <div><%= link_to student.first_name, student_path(student) %> This student is currently <%if student.active%>active.<%else%>inactive.<%end%></div>
  <% end %>
</div>
